// About

.about {
  max-width: $global-max-width;
  // padding: 0 5% 0 5%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 640px) {
    padding: 0 0 0 0;
  }

  .officer__container {
    // margin-top: 5%;
    // margin-bottom: 5%;
    padding: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    @media (max-width: 800px) {
      padding: 0 0 0 0;
    }
  }

  .officer__block {
    width: 200px;
    // overflow: hidden;
    margin-top: 30px;
    flex: 1;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      // margin-left: -60px;
      width: 100%;
    }

    h3, p {
      margin: 0 0 0 0;
    }

    h3 {
      margin-top: 5px;
    }

    p {
      color: $grey;
    }

  }

  .officer__block:hover .officer__bio {
    opacity: 1;
  }

  .officer__bio {
    height: 98%; // TODO: why?
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.2s ease all;
  }

  .officer__bio p {
    width: 80%;
    text-align: center;
    color: white;
  }

  .officer__block-empty {
    max-height: 0;

    @media (max-width: 640px) {
      display: none;
    }
  }
}
